@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    color: white;}

.custom-card-image .card.image-full:before{
    border-radius: .5rem;
    opacity: .4;
}
   .change{
        overflow-x: none ;
    
    }

